
      <footer class="container-fluid py-3 bg-dark mt-auto fixed-bottom">
        <div class="row">
          <div class="col-3 col-md" style="text-align: center;"> 
            <small class="d-block mb-3 text-muted">Pablo López Romero</small>
          </div>
          <div class="col-3 col-md collapse d-md-block">
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Resource name</a></li>
              <li><a class="link-secondary" href="#">Resource</a></li>
              <li><a class="link-secondary" href="#">Another resource</a></li>
              <li><a class="link-secondary" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-3 col-md collapse d-md-block">
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Business</a></li>
              <li><a class="link-secondary" href="#">Education</a></li>
              <li><a class="link-secondary" href="#">Government</a></li>
              <li><a class="link-secondary" href="#">Gaming</a></li>
            </ul>
          </div>
          <div class="col-3 col-md collapse d-md-block">
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="#">Team</a></li>
              <li><a class="link-secondary" href="#">Locations</a></li>
              <li><a class="link-secondary" href="#">Privacy</a></li>
              <li><a class="link-secondary" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    <hr>
    <script href="../js/bootstrap.bundle.min.js" ></script>
  </body>
</html>