<ul class="nav bg-dark">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/lista_partidos">Ver partidos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/lista_partidos/crear_partido">Añadir partido</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/equipos">Equipos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">log out</a>
  </li>
</ul>